<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
        margin:1em auto;
        }
        td {
        height:30px;
        width:30px;
        border:1px solid;
        text-align:center;
        }
        input {
        height:30px;
        width:30px;
        border:1px solid;
        text-align:center;
        }
        td:first-child {
        border-left:solid;
        }
        td:nth-child(3n) {
        border-right:solid ;
        }
        tr:first-child {
        border-top:solid;
        }
        tr:nth-child(3n) td {
        border-bottom:solid ;
        }
        #incorrect{
            text-align: center;
            color: red;
            text-decoration: underline;
        }
        #correct{
            text-align: center;
            color: green;
            text-decoration: underline;
        }
        #submitBtn{
            margin-left: 47%;
            width: 6%;
            margin-bottom: 10px;
        }
  </style>
</head>
<body>
    {{{body}}}
</body>
</html>